rect, circle {
    stroke-width: 0.5px;
    stroke: rgb(0, 0, 0);
  }

.label{
  font-weight: 600;
  font-size: 13px;
}
#main{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}
#title{
  font-weight: 900;
  font-size: 17px;
}