rect, circle {
    stroke-width: 0.5px;
    stroke: rgb(0, 0, 0);
  }

.label{
  font-weight: 600;
  font-size: 13px;
}
#main{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}
#title{
  font-weight: 900;
  font-size: 17px;
}
#tooltip{   
  position: absolute;           
  text-align: center;           
  padding: 10px;
  margin-top: -52px;
  margin-left: -102px;
  color: #444;
  font: 14px sans-serif;        
  background: lightsteelblue;
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;                
  visibility:hidden
}
.green{
  color: green;
}
.red{
  color: red;
}